<mat-card>
    <h1>Update Quiz</h1>
    <div class="conatiner">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form *ngIf="quiz" (submit)="updateData()">
                <mat-form-field class="w100">
                    <mat-label>Enter Title</mat-label>
                    <input [(ngModel)]="quiz.title"
                     type="text" name="title" required placeholder="Enter here" matInput/>
                </mat-form-field>
                
                <mat-form-field class="w100" apperance="fill">
                    <mat-label>Enter Description</mat-label>
                    <textarea [(ngModel)]="quiz.description"
                    type="text" name="description" placeholder="Enter here" matInput
                    rows="5" ></textarea>
                </mat-form-field>
                 
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="w100">
                            <mat-label>Maximum Marks</mat-label>
                            <input [(ngModel)]="quiz.maxMarks"
                             type="text" name="maxMarks" placeholder="Enter here" matInput/>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="w100">
                            <mat-label>No Of Questions</mat-label>
                            <input [(ngModel)]="quiz.numberOfQuestions"
                            type="text" name="numberOfQuestions" placeholder="Enter here" matInput/>
                        </mat-form-field>
                    </div>

                    <mat-slide-toggle  name="active"
                    [(ngModel)]="quiz.active"
                     class="ml10" 
                        
                        [checked]="false"
                    >
                  Publish Status
                </mat-slide-toggle>

                </div>
                <!--category select -->
                <mat-form-field class="mt20 w100" appearance="fill">
                    <mat-label>Catogeries</mat-label>
                    <mat-select name="category" [(ngModel)]="quiz.category.cid">
                      <mat-option *ngFor="let c of categories" [value]="c.cid">
                        {{ c.title }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
 
                  <div class="container text-center">
                      <button mat-raised-button color="primary" type="submit">Update</button>
                  </div>
            </form>
        </div>
    </div>
    </div>
</mat-card>

<!--{{ quiz | json}}-->
