<mat-card>
    <h1>All Categories</h1>
    <mat-list>
       
        <mat-list-item *ngFor="let category of categories">
            <mat-icon mat-list-icon>category</mat-icon>
            <div mat-line>{{category.title}}</div>
            <div mat-line>{{category.description}}</div>
            
            <button mat-stroked-button color="primary" (click)="deleteCategory(category.cid)">Delete</button>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
    
    

    <div class="conatiner text-center mt20">
        <button routerLink="/admin/add-category" mat-raised-button  color="accent">Add new category</button>
    </div>
</mat-card>
